{% extends 'fscohort/base.html' %}

{% block container %}
<h2 class="mt-2">Öğrenci Listesi</h2>
<ul >
    {% for student in students%}
   
    <a href="{% url 'detail' student.id  %}" >
    <li style="font-size: 1.5rem; list-style-type:none;" >{{ student.number }} - {{student.first_name}} {{student.last_name}}
    <section class="">
        <a href="{% url 'detail' student.id  %}" class="btn btn-info">Detay</a>
        <a href="/update/{{student.id}}" class="btn btn-primary">Düzenle</a>
        <a href="/delete/{{student.id}}" class="btn btn-danger">Sil</a>
    </section>
    
    </li>
    </a>
    {%endfor%}
</ul>
{% endblock container %}